$cell-size: 100px;
$days: (
  "mon": 1,
  "tue": 2,
  "wed": 3,
  "thu": 4,
  "fri": 5,
  "sat": 6,
  "sun": 7,
);

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, $cell-size);
  gap: 1px 1px;
  justify-content: center;

  div {
    display: flex;
    flex: 0 0 $cell-size;
    justify-content: center;
    align-items: center;

    height: $cell-size;
    border: 1px double black;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

    background-color: #eee;

    cursor: pointer;

    transition: all 0.25s;

    &:hover {
      transform: translateY(-20px);
      background-color: pink;
    }
  }
  
  @each $day-week, $day in $days {
    &-#{$day-week} div:first-child {
      grid-column-start: $day;
    }
  }

  @for $i from 1 through 31 {
    div:nth-child(#{$i})::after {
      content: "#{$i}";
    }
  }

  @for $i from 28 through 30 {
    &-#{$i} div:nth-child(n + #{$i+1}) {
      display: none;
    }
  }
}
