$cell-size: 100px;
$days: (
  "mon": 0,
  "tue": 1,
  "wed": 2,
  "thu": 3,
  "fri": 4,
  "sat": 5,
  "sun": 6,
);

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.calendar {
  margin: 0 auto;
  width: $cell-size * 7 + 7px;
  display: flex;
  flex-wrap: wrap;

  div {
    display: flex;
    flex: 0 0 $cell-size;
    justify-content: center;
    align-items: center;

    height: $cell-size;
    border: 1px double black;
    margin: 1px 1px 0 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

    background-color: #eee;

    cursor: pointer;

    transition: all 0.25s;

    &:hover {
      transform: translateY(-20px);
      background-color: pink;
    }
  }
  
  @each $day-week, $day in $days {
    &-#{$day-week} div:first-child {
      margin-left: $day*$cell-size + $day*1px;
    }
  }

  @for $i from 1 through 31 {
    div:nth-child(#{$i})::after {
      content: "#{$i}";
    }
  }

  @for $i from 28 through 30 {
    &-#{$i} div:nth-child(n + #{$i+1}) {
      display: none;
    }
  }
}
